<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GmailClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GmailClient.Properties.Settings>
            <setting name="SMTP_HOST" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SMTP_PORT" serializeAs="String">
                <value>465</value>
            </setting>
        </GmailClient.Properties.Settings>
    </userSettings>
</configuration>